@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.nav-items li:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.restaurant-item { transition: background-color 0.3s ease, transform 0.3s ease; }

.restaurant-item:hover {
    background-color: oklch(86.9% 0.005 56.366);
    color: #0a0a0a;
    cursor: pointer;
}

.account-buttons a { transition: background-color 0.3s ease, transform 0.3s ease; }

.account-buttons a:hover {
    cursor: pointer;
    background-color: oklch(86.9% 0.005 56.366);
    color: #0a0a0a;

}
